<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ExpressA19</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="nav">
  <div class="navbar-homepage">
    <button><a
        href="/"><strong>回到首頁</strong></a></button> 
        </div>
  <div class="navbar-list">
    <button><a href="/about">About</a></button>
    <button><a href="/portfolio">Portfolio</a></button>
    <button><a href="/contact">Contact</a></button>
  </div>
</section>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>